/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
 /* --- estilos del body--- */
*{
    margin: 0;
    padding:0;
}

header{
        background-image: url(https://img.freepik.com/free-vector/programming-code-made-with-binary-code-coding-hacker-background-digital-binary-data-streaming-digital-code_127544-778.jpg?size=626&ext=jpg);
        height: 700px;
        width: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  

 }

 .transparencia{
     background-color:  rgba(161, 155, 155, 0.316);
     height: 700px;
     width: 100%;
 }


    h1 {
        font-family: 'Bebas Neue';
        text-align: center;
        font-size: 100px;
        color: rgb(0, 0, 0);
        padding-bottom: 100px;
        
    }

    h2 {
        width: 20px;
        height: 20px;
        padding-bottom: 1px;
        color: rgb(0, 0, 0);
    }

    
    .p-about {
        
        text-align: center;
        font-size: 30px;
        color: #000000;
    }
    footer {
        padding: 200px;
    }

/** Navegar Proyectos **/

    .proyectos {
        height: 700px;
        margin-top: 200px;
        text-align: center;
        
    }
    .proyecto-1 {
        background-image: url(images/test.jpeg);
        background-repeat: no-repeat;
        background-size: 21rem;
        margin: 50px;
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(120, 151, 171);
    width: 20rem;
    height: 30rem;
    }
    
    .proyecto-2 {
        background-image: url(images/test.jpeg);
        background-repeat: no-repeat;
        background-size: 21rem;
        margin: 50px;
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(120, 151, 171);
    width: 20rem;
    height: 30rem;
    }
    
    .proyecto-3 {
        background-image: url(images/test.jpeg);
        background-repeat: no-repeat;
        background-size: 21rem;
        margin: 50px;
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(120, 151, 171);
    width: 20rem;
    height: 30rem;
    }
    
    .proyecto-4 {
        background-image: url(images/test.jpeg);
        background-repeat: no-repeat;
        background-size: 21rem;
    margin: 50px;
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(120, 151, 171);
    width: 20rem;
    height: 30rem;
    }
